.cinema section {
  background-color: #fff;
  width: 100%; }
  .cinema section .content .antd_cont .name {
    /*height: 40px;*/
    /*line-height: 40px;*/
    font-size: 14px;
    background: #e1e1e1;
    margin-bottom: 1px;
    color: #636363;
    cursor: pointer; }
    .cinema section .content .antd_cont .name .am-accordion-header {
      position: relative;
      color: #000;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      background-color: #fff;
      background: #e1e1e1;
      box-sizing: content-box;
      padding-left: 16px;
      padding-right: 0;
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .cinema section .content .antd_cont .name .am-accordion-header i {
        display: none; }
    .cinema section .content .antd_cont .name .am-accordion-content {
      width: 100%;
      position: relative;
      left: 0; }
      .cinema section .content .antd_cont .name .am-accordion-content .am-list-item {
        padding-left: 0;
        height: 120px; }
        .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line {
          height: 100%;
          padding: 10px 15px 12px 16px; }
          .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content {
            padding: 0;
            height: 100%;
            cursor: pointer;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            color: #333;
            font-size: 16px;
            line-height: 16px;
            text-align: left;
            width: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: 'Microsoft YaHei', Tahoma, Helvetica, Arial, sans-serif; }
            .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left {
              width: 75%;
              min-width: 230px;
              float: left;
              cursor: pointer;
              overflow: hidden; }
              .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .mingzi, .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .youhui, .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .weizhi, .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .juli {
                display: block;
                margin-bottom: 5px; }
              .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .mingzi {
                width: 100%;
                font-size: 16px;
                margin-bottom: 5px; }
                .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .mingzi span {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  display: inline-block;
                  vertical-align: text-top;
                  max-width: 80%;
                  font-style: normal;
                  margin-right: 3px; }
                .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .mingzi i {
                  box-sizing: border-box;
                  font-style: normal;
                  margin-right: 3px;
                  font-size: 12px;
                  color: #fc8558;
                  text-align: center;
                  line-height: 16px;
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  border: 1px solid #fc8558; }
                .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .mingzi .lanse {
                  color: #88aec8;
                  border-color: #88aec8; }
              .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .youhui {
                font-size: 10px; }
                .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .youhui i {
                  display: inline-block;
                  border-radius: 3px;
                  padding: 0 5px;
                  margin: 0 5px;
                  font-style: normal;
                  color: #fff;
                  height: 15px;
                  line-height: 15px;
                  background-color: #51add0; }
                .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .youhui .imax {
                  display: none; }
                .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .youhui .huodong {
                  background-color: #ff9658; }
              .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .weizhi {
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                color: #ccc; }
              .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .left .juli {
                font-size: 12px;
                color: #ccc; }
            .cinema section .content .antd_cont .name .am-accordion-content .am-list-item .am-list-line .am-list-content .right {
              float: right !important;
              line-height: 36px;
              color: #c6c6c6;
              padding-left: 0;
              margin-bottom: 0; }
