html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0;
	font-family: 'Microsoft YaHei', Tahoma, Helvetica, Arial, sans-serif;
}
*{
	box-sizing: border-box; 
}
html,body{
	height: 100%;
	background-color: #ebebeb;
}
#root {
	height: 100%;
}
#app {
	height: 100%;
}

ul, ol { list-style:none; }
a:visited { color:#666; }
a { color:#666; text-decoration:none; }
a:hover, a:active, a:focus { color:#ff8400;}
img{display: block;}










